<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/styles/BandT.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <style>
       .searchBar{
         width: 100%;
       }
       .searchBar input{
         width: 100%;
       }
       .myContainer{
         display: flex;
         flex-direction: column;
         align-items: center;
         border: 0.15px solid;      
         
       }

       .cont{
         width: fit-content;
       }
       .TId{
        margin-bottom:8px;
       }
       .mode{
         align-self: flex-start;
         margin-bottom: 8px;
       }
       .amount{
         align-self: flex-start;
         margin-bottom: 8px;
       }
       .bold{
         background-color:rgba(213, 228, 232, 0.438);
         border-radius: 10%;
       }
       .hidden{
        visibility: collapse;
        position: absolute;
       }
       
     </style>
     <title>Admin Search</title>
</head>
<body>
    <div class="searchBar">
        <input type="text" id="phone" placeholder="enter the phone number here">
        <!-- <button onclick="findBookin()">search</button> -->
    </div>
    
   
    <div id="Bookings" style="margin-bottom : 15px  ;"></div>
    

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script >
    function displayTransactions(e){
         document.getElementById(`displayOrAdd${e}`).classList.toggle("hidden")
         document.getElementById(`but${e}`).classList.toggle("hidden")
    }
 
        document.getElementById("phone").addEventListener("input",async (e) => {let phone =  document.getElementById("phone").value
        let ele = document.getElementById("Bookings")
        let Axios = axios.create()
        phone = document.getElementById("phone").value 
        let bookings =  await Axios.post("/bookings/getForAdmin",{phone:phone})  
        bookings = bookings.data   
        let length = bookings.length 
           let tag  = ""
           for(let i = 0 ;i< length ; i++)
           { 
            let _id = bookings[i]._id 
            let roomsBooked = bookings[i].roomsBooked
            let  roomsHtml= ""

            // console.log("length of the rooms : "+roomsBooked.length)
            let j ; 
            for( j = 0 ;j<roomsBooked.length ; j ++)
            {
                roomsHtml  = roomsHtml+`<div class="col-1">${roomsBooked[j]}</div>` 
            }
            // console.log(roomsBooked)
            // console.log(bookings[i].accountId)
            x = j*2000
            const amount = (x).toString()
            const bookingId = (bookings[i]._id).toString()
            const ob= amount +bookingId
            const obj = parseInt(ob)
            const transactions = bookings[i].transactions
            const TObj = (await Axios.post('/payments/getEachById',{transactions: transactions}))
            let transHtml = ""
            let TransactionsObjects = Array(TObj.data.transObjects)
            console.log(TransactionsObjects[0][1][0])
            for(let j =0 ; j<TransactionsObjects[0].length ; j++)
            {
               transHtml = transHtml +   `<div class="d-flex col-sm-6 col-xl-3 text-center justify-content-center py-2"  >
                        <div class="cont">
                            <div class="row" style="background-color: aliceblue;">
                                <div class="col-6  px-2 py-1" >TransactionId</div>
                                <div class="col-6  py-1 " style="padding-right:24px;">${TransactionsObjects[0][j][0]._id}</div>
                            </div>
                            <div class="row " style="background-color: rgba(158, 227, 158, 0.272);">
                                <div class="col-6  px-2 py-1">amount</div>
                                <div class="col-6  px-2 py-1">${TransactionsObjects[0][j][0].amount}</div>
                            </div>
                            <div class="row" style="background-color:rgba(223, 186, 186, 0.194)">
                                <div class="col-6  px-2 py-1">mode</div>
                                <div class="col-6 px-2 py-1">${TransactionsObjects[0][j][0].mode}</div>
                            </div>
        
                        </div>
                    </div>`
            }
       
            tag = tag + ` <hr>   <div class="container mt-6" >
        <div class="bold" style="width:fit-content">id : ${bookingId}</div>
        <div class="addViewTrans">

            <div class="row" >
                <div class="col-2"></div>
                <div class="col-8">
                    <button type="button" id="but${i}" class="btn btn-outline-info mt-3" onclick="displayTransactions(${i})" style="width: 100%;">add or view transactions</button>
                    
                </div>
             
                <div class="col-2"></div>
            </div>
            <div class="hidden" id="displayOrAdd${i}">
                <div class="row">
            <div class="col-5"></div>
            <div class="col-1"><button type="button" class="btn btn-outline-info" onclick="displayTransactions(${i})">hide</button></div>
            <div class="col-5"></div>
       </div>
                <div class="row d-flex justify-content-center gy-3" id="Transactions${i}">${transHtml}</div>

                <button type="button" class="btn btn-primary " onclick="addNewTransaction(${i})" style="width: 100%;">Add new Transaction</button>
                 
                </div>

        </div>

    
        <div class="row mt-4 text-center  g-4">
            <div class="col-5 bold ">checkIn:23/06/23</div>
            <div class="col-2"></div>
            <div class="col-5 bold">checkOut:24/06/23</div>
        </div>
        <hr>
        <div class="roomsBooked mt-3" style="background-color:rgba(240, 248, 255, 0.358)">
           <div class="row text-center">
            <div class="col-4"></div>
            <div class="col-4">Rooms Booked</div>
            <div class="col-4"></div>
           </div>
           <div class="row justify-content-center text-center">
            ${roomsHtml}
           </div> 

        </div> 
        </div>` + "<hr>"
           }
    
          ele.innerHTML = tag      

        }) 
        function addNewTransaction(e)
        {
              
            const defaultText  =    "default"   
            const text = "Enter The Amount " 
            var amount =  window.prompt(text,defaultText)
            var Transactions = document.getElementById(`Transactions${e}`)
            Transactions.innerHTML = Transactions.innerHTML +  `            <div class="d-flex col-sm-6 col-xl-3 text-center justify-content-center py-2"  >
                <div class="cont">
                    <div class="row" style="background-color: aliceblue;">
                        <div class="col-6  px-2 py-1" >transactionId</div>
                        <div class="col-6  py-1 " style="padding-right:24px;">1089138445032</div>
                    </div>
                    <div class="row " style="background-color: rgba(158, 227, 158, 0.272);">
                        <div class="col-6  px-2 py-1">amount</div>
                        <div class="col-6  px-2 py-1">${amount}</div>
                    </div>
                    <div class="row" style="background-color:rgba(223, 186, 186, 0.194)">
                        <div class="col-6  px-2 py-1">mode</div>
                        <div class="col-6 px-2 py-1">online</div>
                    </div>
                </div>
            </div>` 
        }
  
</script>
</html>