<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <form action="/admin/checkAdmin" method="post">
            <label for="userName">username</label>
            <input type="text" id="userName" name="userName">
            <label for="password" >password</label>
             <input type="password" id="password" name="password">
             <button>submit</button>
        </form>
    </div>
</body>
</html>
