

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Rose Home Stay</title>
    <link rel="icon" type="image/x-icon" href="../hotel/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/styles/style1.css">

</head>


<body>

    <!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Rose</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
         <link rel="stylesheet" href="style.css">  
         <link rel="icon" type="image/x-icon" href="./img/hilsFavicon.png">
        </head>
      <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">THE ROSE</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="#rooms">Our Rooms</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="#contact">contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
       <div class="display">
        <form action="/bookings/newBooking">
            <button type="submit" class="btn btn-lg btn-outline-primary">Book Now</button>
        </form>
    
       </div>
       <hr>
       <div class="rooms" id="rooms">
        <h1>ROOMS</h1>
        <div class="card" style="width: 100%;
            max-width: 992px; ">
            <img src="../public/assets/img/rooms/room1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 100%;
          max-width: 992px;">
            <img src="../public/assets/img/rooms/room2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 100%;
          max-width: 992px;">
            <img src="../public/assets/img/rooms/room3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 100%;
          max-width: 992px;">
            <img src="../public/assets/img/rooms/room4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
       </div>
      <hr>
      <div class="contact" id="contact">
        <h1>Contact us</h1>
      <p>phone : 8958350786</p>
     
      <p>email : mohdhuzam002
        @gmail.com
      </p>  
      </div>
      </div>   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      </body>
    </html>
    
    
    
    

  
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script >
        const hamburger = document.querySelector(".hamburger");

const navbar = document.querySelector(".navbar");

hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    navbar.classList.toggle("active");
})

$(document).ready(function () {
    $("#btnSubmit").click(function (e) {
        var jsonData = {};

        var formData = $("#myform").serializeArray();

        $.each(formData, function () {
            if (jsonData[this.name]) {
                if (!jsonData[this.name].push) {
                    jsonData[this.name] = [jsonData[this.name]];
                }
                jsonData[this.name].push(this.value || '');
            } else {
                jsonData[this.name] = this.value || '';
            }


        });
        let obj = JSON.stringify(jsonData, null, 2);
        console.log(obj);
        e.preventDefault();
    });
});
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/assets/scripts/fetchDetails.js"></script>

</body>

</html>