<!-- <!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
   <link rel="stylesheet" href="../public/assets/styles/login.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form method="POST" action="/users/checkUser" enctype="application/json">
      <div class="form-group">
        <label for="phone">phone no.:</label>
        <input type="text" id="phone" name="phone" required>
      
      </div>
      <button type="submit">Log in</button>
    </form>
  </div>

  
</body>
</html> -->


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../public/assets/styles/main.css">
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">
      <div class="booking-form">

      <form action="/users/checkUser" enctype="application/json" method="post">
        <h1> Login </h1>
        
        <fieldset>
          
          <legend><span class="number">1</span> Your Basic Info</legend>
        
          <label for="phone">Phone no.:</label>
          <input type="text" id="phone" name="phone" required>
  
          
        </fieldset>
        <button type="submit">Login</button>
        
       </form>
      </div>
        </div>
      </div>
      
    </body>
</html>
