<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
   <link rel="stylesheet" href="../public/assets/styles/login.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
  
    <form method="POST" action="/users/checkUser" enctype="application/json">
      <div class="form-group">
        <label for="phone">phone no.:</label>
        <input type="text" id="phone" name="phone" required>
      
      </div>
      <button type="submit">Log in</button>
    </form>
  </div>
</body>
</html>