<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
          .GFG {
            background-color: #4ca8af79;
            border: 1px solid black;
            color: white;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            text-decoration: none;
        }
        .GFG:hover {
           background-color:#4548a0;
        }
  </style>
  <title>Document</title>
</head>
<body>
  <header>
    My Bookings
  </header>
  <div class="contianer">
   <a href="/bookings/newBooking?phone=<%= user.phone %>" class="GFG">
    add new booking
   </a>
  
  </div>
</body>
</html>